@charset "UTF-8";
@font-face {
  font-family: dinnext;
  font-weight: 400;
  src: url("/fonts/DINNextLTArabic-Regular-3.ttf");
}
@font-face {
  font-family: dinnext;
  font-weight: 500;
  src: url("/fonts/DINNextLTArabic-Medium-2.ttf");
}
@font-face {
  font-family: dinnext;
  font-weight: 700;
  src: url("/fonts/DINNextLTArabic-Bold-4.ttf");
}
@font-face {
  font-family: dinnext;
  font-weight: 300;
  src: url("/fonts/DINNEXTLTARABIC-LIGHT-2-2.ttf");
}
html,
body {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.layer-1 img {
  width: 100%;
}

.navbar {
  background-color: #232323;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media screen and (max-width: 992px) {
  .navbar .navbar-brand img {
    width: 120px;
  }
}
.navbar .navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
.navbar .nav-link {
  color: white !important;
  text-transform: uppercase;
}

main {
  background-image: url("../images/Layer 3.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  background-color: #171717;
  padding-top: 150px !important;
  padding-bottom: 70px;
}
main h3 {
  font-weight: bold;
  text-transform: uppercase;
}
main .sub-title {
  color: #adadad;
  text-transform: uppercase;
}
main .image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #df7e1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-2 #bottom {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.layer-2 #bottom img {
  width: 100%;
  height: 620px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .layer-2 #bottom img {
    height: 300px;
  }
}
.layer-2 #bottom > * {
  flex-basis: auto;
  width: 50%;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .layer-2 #bottom > * {
    width: 100%;
  }
}
.layer-2 .block-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  color: white;
}
.layer-2 .block-1 h3 {
  font-weight: bold;
}

.layer-3 {
  display: flex;
}
@media screen and (max-width: 992px) {
  .layer-3 {
    flex-direction: column;
  }
}
.layer-3 .images-block {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .layer-3 .images-block {
    width: 100%;
  }
}
.layer-3 .images-block .single-image {
  flex-basis: auto;
  width: 50%;
  box-sizing: border-box;
}
.layer-3 .images-block .single-image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.layer-3 .block-2 {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .layer-3 .block-2 {
    width: 100%;
  }
}
.layer-3 .block-2 img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 992px) {
  .layer-3 .block-2 img {
    height: 100%;
  }
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  color: white;
  padding: 200px 0;
}
.partners h2 {
  font-weight: bold;
}

.slick-slider {
  margin-top: 200px;
  width: 100%;
}
.slick-slider .slider-inner {
  background-color: #EAE6DD;
  height: 300px !important;
  margin: 10px;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  text-align: start;
}
.slick-slider .slick-arrow {
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: -10px;
  padding: 3px;
}
.slick-slider .slick-arrow::before {
  content: none;
}
.slick-slider .slick-next {
  transform: rotate(-45deg);
}
.slick-slider .slick-prev {
  transform: rotate(135deg);
}
.slick-slider .slick-dots li button {
  background-color: #056849;
  border-radius: 50%;
  margin-top: 20px;
}
.slick-slider .slick-dots li button::before {
  display: none;
}
.slick-slider .slick-dots li.slick-active button {
  background: #A3CC7A;
  border: 1px solid #A3CC7A;
  border-radius: 50%;
}

.actions {
  margin-bottom: auto;
}
.actions .button {
  margin: 10px;
  width: 100%;
}
@media (min-width: 769px) {
  .actions .button {
    width: auto;
  }
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  bottom: -35px !important;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: #A3CC7A;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.button {
  background: #fff;
  border: 0 none;
  border-radius: 30px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 40px;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */